<h4>{{player.name}}</h4>
<app-turn [turn]="player.turns[0]" [score]="player.turns | score:0"></app-turn>
<app-turn [turn]="player.turns[1]" [score]="player.turns | score:1"></app-turn>
<app-turn [turn]="player.turns[2]" [score]="player.turns | score:2"></app-turn>
<app-turn [turn]="player.turns[3]" [score]="player.turns | score:3"></app-turn>
<app-turn [turn]="player.turns[4]" [score]="player.turns | score:4"></app-turn>
<app-turn [turn]="player.turns[5]" [score]="player.turns | score:5"></app-turn>
<app-turn [turn]="player.turns[6]" [score]="player.turns | score:6"></app-turn>
<app-turn [turn]="player.turns[7]" [score]="player.turns | score:7"></app-turn>
<app-turn [turn]="player.turns[8]" [score]="player.turns | score:8"></app-turn>
<app-turn [turn]="player.turns[9]" [score]="player.turns | score:9"></app-turn>
