:host {
  display: flex;
  align-items: stretch;
}

.name {
  font-size: 3rem;
  padding: 1rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.total {
  display: flex;
  width: 100px;
  align-items: center;
  padding: .5rem;
  font-size: 1.4rem;
}
